
* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap')

#grid_wrapper{
display: grid;
height: 100vh;
grid-template-areas:  
"he he"
"na na"
"ar ar"
"se se"
"fo fo";
}
header{
grid-area: he;
background-color: #588157;
height: 100px;
display: flex;
justify-content: center;
align-items: center;

}

nav{
    grid-area: na;
    background-color: #588157;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    pointer-events: stroke;
}
article{
    grid-area: ar;
    background-color: #a3b18a;
    height: 300px;
    padding: 30px;

}
section{
    grid-area: se;
    background-color: #a3b18a;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
border-color: #a3b18a;
border-width: 2px;
border-style: solid;
}
footer{
    grid-area: fo;
    background-color: #588157;
    height: 150px;
}
.djur{
    height: 500px;
    width: auto;
    border-radius: 40px;
    border-color: #588157;
    border-style: solid;
    border-width: 10px
   
}
h1{
font-size: 70px;
font-family: 'Nerko One', cursive;
}

h2{
    font-size: 30px;
    font-family: 'Nerko One', cursive;
}
h3{
    font-size: 40px;
    padding-left: 10px;
    font-family: 'Nerko One', cursive;
    background-color: #a3b18a;
}
h4{
    font-size: 30px;
    padding: 10px;
    font-family: 'Nerko One', cursive;
}
p{
    font-size: 15px;
    padding: 15px;
    font-family: 'Nerko One', cursive;
}
#om_oss_section{
display: flex;
flex-direction: column;
height: 230px;
align-items: flex-start;


}
.personal_namn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  
    font-size: 15px;
   border-radius: 20px;
   margin: -40px;
   border-style: solid;
   
      
}


#personal_section{
    flex-wrap: wrap;
    display: flex;
    

}
.personal_article{
    flex-direction: column;
    border-radius: 5px;
    border-color: black;
    width: 250px;
    height: 250px;
    margin: 10px;
}

#bild1{
    background-size: contain;
    background-image: url(../img/persons/avatar-aea3441ddc1173c3b63794fe1ebcce0e.jpg);

}
#bild2{
    background-size: contain;
    background-image: url(../img/persons/avatar-14442c2e192eabfebb9e45f07b23cdd8.jpg);
}
#bild3{
    background-size: contain;
    background-image: url(../img/persons/avatar-2180facc60532c668ad3eefb093831d9.jpg);
}
#bild4{
    background-size:contain;
    background-image: url(../img/persons/avatar-6eff317c04c60419d06b2f4b0323eef0.jpg);
}
#resturang_section{
    display: flex;
    flex-direction: column;
    height: 915px;
    width: auto;
    background-image: url(../img/food/Bakgrund_resturang.png);
    background-size: cover;

}
#resturang_rubrik{

    justify-content: center;
    display: flex;
    align-items: center;
    
}


.meny{
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
}
#meny_container{
    background-color: hwb(0 100% 0% / 0.92);
    height: auto;
    margin-bottom: 90px;
    margin-top: 185px;
    width: 700px;
    border-radius: 20px;
    border-color: #588157;
    border-width: 10px;
    border-style: solid;
}
.text_meny{
    display: flex;
    justify-content: center;
    align-items: center;
}

